/* CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Outfit", sans-serif;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    height: 150px;
    background-color: #e7e7e7;
}

.div img {
    max-width: 221px;
    padding-top: 20px;
}

.navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}

.menu_hamburguesa {
    display: none;
}

.menu_hamburguesa:checked + .ul_links {
    height: calc(100vh - 150px);
}

.list_icon {
    color: black;
    cursor: pointer;
}

.ul_links {
    width: 100%;
    background-color: #d1d1d1;
    position: absolute;
    top: 150px;
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.7rem;
    transition: all .3s;
}

.link {
    font-size: 3rem;
    color: #696969;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 882px) {
    
    .menu_hamburguesa:checked + .ul_links {
        display: none;
    }
    
    .ul_links {
        background-color: #e7e7e7;
        position: static;
        top: 0;
        left: 0;
        height: auto;
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 0.7rem;
        transition: none;
    }

    .link {
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
    }

    .list_icon {
        display: none;
    }
}

@media only screen and (min-width: 1080px) {
    .navbar {
        flex-direction: row;
    }

    .header .navbar .div {
        width: 40%;
        display: flex;
        justify-content: center;
    }

    .ul_links {
        padding-right: 3rem;
        gap: 1.5rem;
        justify-content: end;
    }

    .div img {
        padding-top: 0;
    }
}

/* Seccion Principal Index */

.portada_index img {
    width: 80%;
    padding-top: 2rem;
}

.portada_index {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    gap: 1rem;
}

.texto_index {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.texto_index p {
    text-align: justify;
}

h1 span {
    color: black;
    font-size: 3rem;
}

@media only screen and (min-width: 882px) {
    .portada_index {
        padding-top: 2.3rem;
        min-height: 75vh;
        gap: 1.5rem;
    }

    .texto_index {
        padding-bottom: 2rem;
    }
}

@media only screen and (min-width: 1080px) {
    .portada_index img {
        width: 50%;
        
    }

    .portada_index {
        padding-top: 0;
        flex-direction: row;
        gap: 1.5rem;        
    }

    .texto_index {
        width: 40%;
        text-align: start;
        align-items: start;
        gap: 1rem;
    }
}

/* Seccion Secundaria */

.seccion_index img {
    width: 80%;
    padding-top: 2rem;
}

.seccion_index {
    background-color: #d1d1d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    gap: 1rem;
}

.texto_seccion_index {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.texto_seccion_index p {
    text-align: justify;
}

h2 span {
    color: black;
    font-size: 3rem;
}

@media only screen and (min-width: 882px) {
    .seccion_index {
        padding-top: 2.3rem;
        min-height: 75vh;
        gap: 1.5rem;
    }

    .texto_seccion_index {
        padding-bottom: 2rem;
    }
}

@media only screen and (min-width: 1080px) {
    .seccion_index img {
        width: 50%;
    }

    .seccion_index {
        padding-top: 0;
        flex-direction: row-reverse;
        gap: 1.5rem;        
    }

    .texto_seccion_index {
        width: 40%;
        text-align: end;
        align-items: end;
        gap: 1rem;
    }
}

button {
    color: brown;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 900;
    cursor: pointer;
  }
  
  button::before {
    margin-left: auto;
  }
  
  button::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    transition: 0.5s;
  }
  
  button:hover::after, button:hover::before {
    width: 100%;
  }

/* Galeria */

.titulo {
    color: brown;
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

 .parrafo_galeria {
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 0 35px;
}

.galeria-index {
    padding: 3rem;
}

.contenedor-galeria img {
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 882px) {
    .contenedor-galeria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, minmax(280px, 25vh));
        gap: 1rem;
    }

    .img-destacada {
        grid-column: span 2;
        grid-row: span 2;
    }

    .img-destacada_2 {
        grid-column: span 2;
        grid-row: span 2;
    }
}

@media only screen and (min-width: 1080px) {
    .contenedor-galeria {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, minmax(280px, 25vh));
    }

    .img-destacada {
        grid-column: span 1;
        grid-row: span 2;
    }
    
    .img-destacada_2 {
        grid-column: span 1;
        grid-row: span 2;
    } 
}

/* parrafo_h2 */

.parrafo_h2 {
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 0 35px;
    height: 100vh;
}

/* Footer  */

.footer {
    width: 100%;
    background-color: #e7e7e7;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.footer div img {
    padding-bottom: 10px;
}

.footer ul li a {
    color: gray;
    
}

.logo_footer {
    max-width: 100px;
    padding-top: 10px;
}

.suscribete {
    padding-bottom: 10px;
}

@media only screen and (min-width: 882px) {
    .footer {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;  
    }

    .redes_sociales ul li {
        display: inline;
        padding: 10px;
        
    }

    .footer div {
        width: 30%;
    }
}