/* Button */

button {
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 900;
    cursor: pointer;
    a{
      color: $color_button;
    }
  }
  
  button::before {
    margin-left: auto;
  }
  
  button::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: $color_multi;
    display: block;
    transition: 0.5s;
  }
  
  button:hover::after, button:hover::before {
    width: 100%;
  }
